body{
    padding: 0;
    margin: 0;
    color: #fff;
    /* font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
  
}
.nav-bar{
    background-color: #000;
}

ul{
    margin: 0;
    padding: 5px;
}
li{
    display: inline;
    margin: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}

.myPhoto{
    width: 10%;
    margin: 150px auto 20px;
    /* position: absolute;
    margin-top: 150px; */
}
.aboutMe{
    padding: 15px;
    line-height:1.5;
    position: relative;
    background-color: #000;
}