/*
Item Name : CSS3 Mega Drop Down Menu
Author URI : http://codecanyon.net/user/Pixelworkshop/
Item URI : http://codecanyon.net/item/css3-mega-drop-down-menu/126387
Version : 4.2
*/

/*

TABLE OF CONTENTS

01 MENU BAR
02 DROP DOWN MENU
03 CONTENT STYLING
04 CONTACT FORM
05 LIGHT THEME
06 DARK THEME
07 COLORS
08 TOUCH SCREEN DEVICES

*/



/*  _______________________________________

	01 MENU BAR
    _______________________________________  */



/* IMPORTANT NOTICE
   If you're using the whole width menu, you should use at least a reset like :
   * {margin:0; padding:0;}
   Otherwise, some browsers may add margins and won't place the menu properly.
   It generally helps to include a CSS reset like : 
   http://meyerweb.com/eric/tools/css/reset/
   Keep in mind that a reset must be placed first, before any other CSS markup.
*/
.wrapper_menu {
	width: 1170px;
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: 9999;

}
/* Blue */

.menu_dark_theme .menu_blue li:hover div a {color:#0294da;}
.menu_dark_theme .menu_blue li:hover div a:hover {color:#33bcfd;}
.menu_dark_theme .menu_blue li ul li a:hover {color:#33bcfd;}
.menu_light_theme .menu_blue li:hover div a {color:#015b86;}
.menu_light_theme .menu_blue li:hover div a:hover {color:#029feb;}
.menu_light_theme .menu_blue li ul li a:hover {color:#029feb;}


	.wrapper_menu .menu {
		list-style:none;
		/*width:940px;*/
		margin:0 auto;
		height:35px;
		padding:0 20px 0 20px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
.wrapper_menu_full {
    margin:0;
    position: relative;
    z-index:9999;
}
	.wrapper_menu_full .menu {
		width:100%;
		padding:0;
		height:43px;
	}
	.wrapper_menu_full .menu_whole_width {
		list-style:none;
		width:940px;
		margin:0 auto;
		height:43px;
		padding:0;
	}
.menu li {
	float:left;
	text-align:center;
	position:relative;
	margin-right:15px;
	margin-top:2px;
	border:none;
}
.menu .fullwidth {
	position: static !important;
}
.menu li:hover {
	border-bottom:none;
	margin-right:19px;
    -webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.menu li.nodrop:hover {
	padding: 4px 10px 4px 9px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}
.menu li.nodrop:hover a {
	padding: 0;
}
.menu li a {
	/*color: #fb9e0e; */
	color: #ffffff;
	outline:0;
	padding: 5px 10px 3px 10px;
	text-decoration:none;
	display:block;
	text-shadow: 1px 1px 1px #000;
}
.menu li:hover a {
	text-shadow: none;
	position:relative;
	z-index:11;
	padding: 4px 9px 4px 9px;
}
.menu li:hover div a {
	display:inline;
}
.menu li .drop,
.menu li:hover .drop {
	padding-right:27px;
}

/* Right aligned menu item */

.menu li.right {
	float:right;
	right:0;
	margin-right:0;
}
.menu li.right:hover {
	margin-right:-1px;
}



/*  _______________________________________

	02 DROP DOWN MENU
    _______________________________________  */



/* Left & right aligned common styles */

.menu .dropdown_1column, 
.menu .dropdown_2columns, 
.menu .dropdown_3columns, 
.menu .dropdown_4columns,
.menu .dropdown_5columns,
.menu .dropdown_fullwidth {
	margin:4px auto;
	left:-999em;
	position:absolute;
	padding:10px;
	text-align:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
}

/* Drop Downs Sizes */

.menu .dropdown_1column {width: 145px;}
.menu .dropdown_2columns {width: 300px;}
.menu .dropdown_3columns {width: 455px;}
.menu .dropdown_4columns {width: 610px;}
.menu .dropdown_5columns {width: 765px;}
.menu .dropdown_fullwidth {
	width: 920px;
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
    border-radius:5px;
}
.menu li .first_fullwidth {
    -webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}

/* Showing Drop Down on Mouse Hover - Left aligned */

.menu li:hover .dropdown_1column, 
.menu li:hover .dropdown_2columns, 
.menu li:hover .dropdown_3columns,
.menu li:hover .dropdown_4columns,
.menu li:hover .dropdown_5columns {
	left:-1px;
	top:25px;
}
.menu li:hover .dropdown_fullwidth {
	left:21px;
	top:28px;
	display: block;
}
.wrapper_menu_full .menu li:hover .dropdown_fullwidth {
	left:50%;
	margin-left:-470px;
	top:32px;
	display: block;
}

/* Showing Drop Down on Mouse Hover - Right aligned */

.menu li .align_right {
    -webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}
.menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:25px;
}
.menu li.right:hover .dropdown_fullwidth {
	right:18px;
	top:33px;
}
.wrapper_menu_full .menu li.right:hover .dropdown_fullwidth {
	left:auto;
	right:50%;
	margin-right:-471px;
	top:32px;
}

/* Columns Sizes */

.menu .col_1,
.menu .col_2,
.menu .col_3,
.menu .col_4,
.menu .col_5,
.menu .col_6 {
	float: left;
	margin-left: 10px;
}
.menu .col_1 {width:145px;}
.menu .col_2 {width:300px;}
.menu .col_3 {width:455px;}
.menu .col_4 {width:610px;}
.menu .col_5 {width:765px;}
.menu .col_6 {width:920px;}

/* IMPORTANT */

/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
.menu .firstcolumn {
	margin-left: 0; /* Clearing margin & left */
	clear: left;
}



/*  _______________________________________

	03 CONTENT STYLING
    _______________________________________  */



.menu p,
.menu ul,
.menu li,
.menu h2,
.menu h3 {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}
.menu p {
	font-size:12px;
	line-height:18px;
	margin:0;
	margin-bottom:10px;
	text-shadow:1px 1px #000000;
}
.menu .strong {
	font-weight:bold;
}
.menu .italic {
	font-style:italic;
}
.menu h2, 
.menu h3 {
	text-shadow:1px 1px #000000;
	margin-top:7px;
}
.menu h2 {
	font-weight:400;
	font-size:21px;
	margin-bottom:18px;
	padding-bottom:11px;
}
.menu h3 {
	font-weight:600;
	font-size:14px;
	margin-bottom:14px;
	padding-bottom:7px;
}
.menu li:hover div a {
	text-decoration:none;
	text-shadow:none;
	border:none;
	padding:0;
}
.menu .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}

/* Icon paragraphs */

.menu .help,
.menu .favorite,
.menu .mail,
.menu .print {
	padding-left:36px;
	margin-bottom:18px;
}
.menu .help {background:url("../img/help.png") no-repeat 0 2px;}
.menu .favorite {background:url("../img/favorite.png") no-repeat 0 2px;}
.menu .mail {background:url("../img/mail.png") no-repeat 0 2px;}
.menu .print {background:url("../img/print.png") no-repeat 0 2px;}

/* Images styles */

.menu .imgshadow_dark,
.menu .imgshadow_light {
	padding:4px;
	margin-top:5px;
}
.menu .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 15px 5px 0;
}
.menu .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0 5px 15px;
}

/* Box styles */

.menu li .black_box,
.menu li .dark_grey_box {
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}

/* Standard lists styles */

.menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #000000;
	padding:0;
	margin:0;
	float:left;
	text-align:left;
	width:145px;
}
.menu li ul li a {
	padding:0;
}
.menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

/* Greybox lists styles */

.menu li .greybox li {
	margin:0 0 4px 0;
	padding:4px 6px 4px 6px;
	width:131px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}
.menu li .greybox li:hover {
	padding:4px 6px 4px 6px;
	margin:0 0 4px 0;
}

/* Other lists styles */

.menu li .plus li {
	margin:0 0 4px 0;
	padding:0 0 0 21px;
	width:109px;
}
.menu li .plus li:hover {
	padding:0 0 0 21px;
	margin:0 0 4px 0;
}

/* Social Icons */

.menu li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.menu li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.menu li ul.social li img {
	border:none;
}
.menu li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.menu li ul.social li span {
	display:none;
}

/* 2-Levels Drop Down */

.menu .levels, 
.menu .levels ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu li:hover .levels a {
	display:block;
}
.menu .levels a {
	display: block;
	width: 10em;
}
.menu .levels li {
	float: left;
	width:150px;
}
.menu .levels li ul {
	position: absolute;
	top:-23px;
	margin:15px 0 0 4px;
	padding:6px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
	left: -999em;
}
.menu .levels li:hover ul ul, 
.menu .levels li:hover ul ul ul {
	left: -999em;
}
.menu .levels li:hover ul, 
.menu .levels li li:hover ul, 
.menu .levels li li li:hover ul {
	left: 142px;
}



/*  _______________________________________

	04 CONTACT FORM
    _______________________________________  */



.contact_form label, legend {
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
.contact_form legend {
	margin-bottom:10px;
}
.contact_form {
	display: block;
	margin-bottom:10px;
}
.contact_form label {
	display: inline-block; 
	float: left; 
	height: 36px; 
	line-height: 36px; 
	width:80px;
	font-size:12px; 
}
.contact_form input, textarea, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:200px;
	padding: 5px;
	margin: 7px 0; 
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
}   
.contact_form textarea {
	resize:none;
}   
.contact_form .required {
	color:#C00;
}
.contact_form .form_buttons {
	margin:4px 0 0 80px;
}
.contact_form input.button {
	width: 80px;
	margin-right:10px;
	cursor: pointer;
	padding: 4px 7px 4px 7px;
}
.contact_form .special {
	display:none;
}
.contact_form .error, .contact_form .sent {
	font-size:11px;
	padding:2px 5px 2px 5px;
	text-shadow:none;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius: 3px;
}
.contact_form .error {
	background:#FBE5E2; 
	border:#F2A197 solid 1px; 
	color:#992213;
}
.contact_form .sent {
	background:#E1F8CB; 
	border:#C6D880 solid 1px; 
	color:#37620d;
}


/*  _______________________________________

	06 DARK THEME
    _______________________________________  */



.menu_dark_theme ul li:hover,
.menu_dark_theme ul li.nodrop:hover {
	background:#161616;
	border:1px solid #000000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#161616));
	background: -webkit-linear-gradient(top, #212121, #161616);
	background: -moz-linear-gradient(top, #212121, #161616);
	background: -o-linear-gradient(top, #212121, #161616);
	background: -ms-linear-gradient(top, #212121, #161616);
	background: linear-gradient(top, #212121, #161616);
}
.menu_dark_theme ul li:hover a {
	color:#ffffff;
	border-bottom:1px solid #161616;
}
.menu_dark_theme ul li .drop,
.menu_dark_theme .menu li.noactive .drop {
	background:url("../img/arrow_down2.png") no-repeat right 13px;
}
.menu_dark_theme ul li:hover .drop {
	background:url("../img/arrow_down2.png") no-repeat right 12px;
}
.menu_dark_theme ul .dropdown_1column, 
.menu_dark_theme ul .dropdown_2columns, 
.menu_dark_theme ul .dropdown_3columns, 
.menu_dark_theme ul .dropdown_4columns,
.menu_dark_theme ul .dropdown_5columns,
.menu_dark_theme ul .dropdown_fullwidth,
.menu_dark_theme ul .levels li ul {
	background:#161616;
	border:1px solid #000000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#0A0A0A));
	background: -webkit-linear-gradient(top, #161616, #0A0A0A);
	background: -moz-linear-gradient(top, #161616, #0A0A0A);
	background: -o-linear-gradient(top, #161616, #0A0A0A);
	background: -ms-linear-gradient(top, #161616, #0A0A0A);
	background: linear-gradient(top, #161616, #0A0A0A);
}
.menu_dark_theme ul p,
.menu_dark_theme ul ul,
.menu_dark_theme ul li,
.menu_dark_theme ul h2,
.menu_dark_theme ul h3 {
	color:#ffffff;
}
.menu_dark_theme ul h2, 
.menu_dark_theme ul h3 {
	border-bottom:1px solid #333333;
}
.menu_dark_theme ul .imgshadow_dark,
.menu_dark_theme ul .imgshadow_light {
	background:#FFFFFF;
	border:1px solid #333333;
	-webkit-box-shadow:0 0 5px #000000;
	-moz-box-shadow:0 0 5px #000000;
	box-shadow:0 0 5px #000000;
}
.menu_dark_theme ul .imgshadow_light {
	border:1px solid #777777;
}
.menu_dark_theme ul li .black_box,
.menu_dark_theme ul li .dark_grey_box {
	background-color:#0A0A0A;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}
.menu_dark_theme ul li .greybox li {
	background:#0A0A0A;
	border:1px solid #000000;
}
.menu_dark_theme ul li .greybox li:hover {
	background:#141414;
	border:1px solid #111111;
}
.menu_dark_theme ul li .plus li {
	background: url("../img/plus_dark.png") left 6px no-repeat;
}
.menu_dark_theme ul .levels a.parent, 
.menu_dark_theme ul .levels a.parent:hover {
	background: url("../img/arrow_right2.png") right center no-repeat;
}
.menu_dark_theme ul .contact_form input:focus, textarea:focus, select:focus {
	box-shadow: rgba(0,0,0, 0.7) 0 0 8px;
	-moz-box-shadow: rgba(0,0,0, 0.7) 0 0 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.7) 0 0 8px;  
	border:1px solid #333333;
}
.menu_dark_theme ul .contact_form input:hover, textarea:hover, select:hover {
	-webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
	box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
}
.menu_dark_theme ul .contact_form input, textarea, select {
	color: #FFFFFF; 
	background-color:#222222;
	border:1px solid #0A0A0A;
}
.menu_dark_theme ul .contact_form input.button {
	background-color:#1E1E1E;
	border:1px solid #0A0A0A;
	color:#cccccc;	
}
.menu_dark_theme ul .contact_form input.button:hover {
	color:#eeeeee;	
	background-color:#222222;
	border:1px solid #000000;
}
.menu_dark_theme .menu li:hover div a {
	border-bottom:none;
}


/*  _______________________________________

	08 TOUCH SCREEN DEVICES
    _______________________________________  */



.menu li.noactive,
.menu li.noactive:hover {
	background:none;
	border:none;
	margin-right:20px;
}
.menu li.noactive a {
	padding: 5px 27px 3px 10px;
	text-shadow: 1px 1px 1px #000;
	border-bottom:none;
}
.menu li.noactive.right {
	margin-right:0;
}
