body{
    background-color: #DFF6FF;
    ba
}
hr{
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;

}